main {
    padding: 2.5em 1.4em;
}

.advice-id {
    margin-top: 0;
    margin-bottom: 2.1em;
    font-size: .7em;
}

.db-quotes {
    margin-bottom: 1.08em;
    font-size: 1.45em;
}

.division {
    height: 16px;
    margin-bottom: 1.55em;
}